@using PagedList;
@using PagedList.Mvc;

@model IPagedList<EntityLayer.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<a href="/AdminProduct/Create" class="btn btn-primary">Create</a>

<br /> <br />

<table class="table table-bordered" id="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Popular</th>
        <th>IsApproved</th>
        <th>Image</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>
                @if (item.Popular == true)
                {
                    <label class="btn btn-success">Yes</label>
                }
                else
                {
                    <label class="btn btn-danger">No</label>
                }
            </td>
            <td>
                @if (item.IsApproved == true)
                {
                    <label class="btn btn-success">Yes</label>
                }
                else
                {
                    <label class="btn btn-danger">No</label>
                }
            </td>
            <td><img src="~/Content/Image/@item.Image" style="width:80px; height:80px" />Image</td>
            <td>@item.Category.Name</td>
            <td>@Html.ActionLink("Delete", "Delete", new {item.Id}, new {@class="btn btn-danger", onclick="return confirm ('Do you want delete?')"})</td>
            <td><a class="btn btn-primary" href="/AdminProduct/Update/@item.Id">Update</a></td>
        </tr>
    }
</table>


@Html.PagedListPager(Model, sayfa=>Url.Action("Index", new{sayfa}), PagedListRenderOptions.Classic)
