@model EntityLayer.Entities.Product

@{
    ViewBag.Title = "Update";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" value="@Model.Name" />
                </div>

                <br />

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="Description" class="form-control" value="@Model.Description" />
                </div>

                <br />

                <div class="form-group">
                    <label>Previous Image</label>
                    <img src="~/Content/Image/@Model.Image" style="width:80px; height:80px" />
                </div>

                <br />

                <div class="form-group">
                    <label>Image</label>
                    <input type="file" name="File" class="form-control" />
                </div>

                <br />

                <div class="form-group">
                    <label>Price</label>
                    <input type="text" name="Price" class="form-control" value="@Model.Price" />
                </div>

                <br />

                <div class="form-group">
                    <label>Stock</label>
                    <input type="text" name="Stock" class="form-control" value="@Model.Stock" />
                </div>

                <br />

                <div class="form-group">
                    <label>Popular</label>
                    @Html.EditorFor(x => x.Popular)
                </div>

                <br />

                <div class="form-group">
                    <label>Is Approved</label>
                    @Html.EditorFor(x => x.IsApproved)
                </div>

                <br />

                <div class="form-group">
                    <label>Category</label>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.ktgr, new { @class = "form-control" }) 
                </div>


                <button class="btn btn-primary" type="submit">Update</button>

                <a href="/AdminProduct/Index" class="btn btn-primary">List of Products</a>

            </form>
        </div>
    </div>
</div>



