
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="total-content">
    <div class="list_of_members">

        <div class="col-md-3">
            <div class="visitors" style="background-color:#ff6a00; margin-top:10px">
                <div class="icon-text">
                    <h3 style="color:white">@ViewBag.satis</h3>
                    <p style="color:white">Satış Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="visitors" style="background-color:#b6ff00; margin-top:10px">
                <div class="icon-text">
                    <h3 style="color:white">@ViewBag.urun</h3>
                    <p style="color:white">Ürün Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="visitors" style="background-color:#00ffff; margin-top:10px">
                <div class="icon-text">
                    <h3 style="color:white">@ViewBag.kategori</h3>
                    <p style="color:white">Kategori Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="visitors" style="background-color:#ff00dc; margin-top:10px">
                <div class="icon-text">
                    <h3 style="color:white">@ViewBag.sepet</h3>
                    <p style="color:white">Sepet Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="visitors" style="background-color:#4800ff; margin-top:10px">
                <div class="icon-text">
                    <h3 style="color:white">@ViewBag.kullanici</h3>
                    <p style="color:white">Kullanıcı Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
